<!DOCTYPE html>
{% extends 'questAI/base.html' %}
{% load static %}

{% block title %}Change Password{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/changepassword.css' %}">
{% endblock %}

{% block body_block %}
    {# save the new password #}
    <form id="change_password_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="change-password">Change Password</button>
    </form>
{% endblock %}

{% block js %}
    
{% endblock %}