{% extends 'questAI/base.html' %}
{% load static %}
{% block title %}Your quest{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
{%endblock%}
{%block body_block%}
<br />
{% if quest %}
<div class = "inner-body">
    <div class="quest-box">
        <h2>Your Quest</h2>
        <p id = "quest_text">{{ quest }}</p>
        <div id = "items_list"></div>
    </div>
</div>
{% endif %}
<div class="map-container">
    <div id="map"></div>
</div>
<div class="chatbot-container">
    <div id="chatbot-messages" class="chatbot-messages"></div>
    <input type="text" id="chatbot-input" placeholder="Ask about your quest...">
    <button onclick="sendChatbotMessage()">Send</button>
</div>

{%endblock%}

{% block js %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap&libraries=&v=weekly" async defer></script>
<script type="text/javascript">
  var djangoData = {
      csrfToken: "{{ csrf_token }}",
      startLocation: "{{ start_location|escapejs }}",
      numberOfItems: parseInt("{{ number_of_items|escapejs }}"),
      basketItems: JSON.parse('{{ basket_items|safe }}'),
  };
</script>
<script src="{% static 'js/questScript.js' %}" type="text/javascript"></script>
{% endblock %}
