<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    
</head>
<body>
    <h1>questAI</h1>
    {% if error_message %}
    <p class="error_message">{{ error_message }}</p>
    {% endif %}
    <form id="login_form" method="post" action="{% url 'questAI:login' %}">
        {% csrf_token %}
        Username:<input type="text" name = "username" value="" size="50"/>{# name为识别输入字段的数据，服务端可用request.POST['username']获取输入的数据 #}
        <br/>
        Password:<input type="password" name="password" value="" size="50"/>{# type=password表明输入的内容被覆盖 #}
        <br/>
        <input type="submit" value="log in"/>{# 将表单提交到服务器 #}
        <a href="{% url 'questAI:register' %}">if you don't have an account,click here to register</a><br />
    </form>
{#    <div>#}
{#        <a href="{% url 'questAI:register' %}">if you don't have an account,click here to register</a><br />#}
{#    </div>#}
</body>
</html>