<!DOCTYPE html>
{% extends 'questAI/managebase.html' %}
{% load static %}
{% block title %}
    <title>manage home</title>
{% endblock %}
{% block body_block %}
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-3"> 
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.image_path }}" class="card-img-top" alt="{{ product.productName }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.productName }}</h5>
                        <p class="card-text">{{ product.productDescription }}</p>
                        <a href="{% url 'questAI:edit_product' product.productId%}" class="btn btn-primary">Edit</a>
                        <form action="{% url 'questAI:delete_product' product.productId %}" method="post">
                            {% csrf_token %}
                             <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}
