<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>manage</title>
    {% endblock %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/managebase.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-4 col-lg-2 bg-dark" id="sidebar-wrapper">
                
            <a href="{% url 'questAI:manage_home' %}" class="list-group-item list-group-item-action bg-dark text-white">Home</a>
            <a href="{% url 'questAI:add' %}" class="list-group-item list-group-item-action bg-dark text-white">Add</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Delete</a>
            <a href="#" class="list-group-item list-group-item-action bg-dark text-white">Change</a>
            <a href="{% url 'questAI:logout' %}" class="list-group-item list-group-item-action bg-dark text-white">log out</a>
          </nav>
            <main class="col-md-8 col-lg-10" id="content-wrapper">
                {% block body_block %}

                {% endblock %}
            </main>
        </div>
    </div>
</body>

</html>