<!DOCTYPE html>
{% extends 'questAI/managebase.html' %}
{% load static %}

{% block title %}
    <title>Search Product</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/managehome.css' %}">
{% endblock %}

{% block body_block %}
    {# show the result of query, and keep the template for displaying products #}
    <div class="container">
        <div class="row">
            {% for product in products %}
            <div class="col-md-4 mb-3">
                <div class="card" style="width: 18rem;">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.productName }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.productName }}</h5>
                        <p class="card-text">{{ product.productDescription }}</p>
                        <p class="card-text">£{{ product.price }}</p>
                        <div class="btn-container">
                            <a href="{% url 'questAI:edit_product' product.productId%}" class="btn btn-primary btn-edit">Edit</a>
                            <form action="{% url 'questAI:delete_product' product.productId %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {# When the specified product is not found #}
            {% empty %}
                <p>No products found for "{{ query }}".</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
