#change_password_form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Make sure the form content is centered */
    justify-content: center;
    padding: 40px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

form p {
    width: 100%;
    margin-bottom: 20px;
    text-align: left; /* Make sure p text in the form is also aligned to the left */
}

input[type="password"]{
    width: calc(100% - 20px); /* Taking into account padding, adjust the width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[name="change-password"] {
    background-color: #067e0b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
}

button[name="change-password"]:hover {
    background-color: #90c40e;
    color: white;
}


.messages {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;
}

.messages li {
    background: #f2f2f2;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.messages li.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.messages li.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
