body {
    font-family: Arial, sans-serif;
    background-image:url('../images/picture.jpg');
    background-size: cover;
}

h1 {
  color: #c09719;
  text-align: center;
  margin-top: 50px;
  font-family: Arial;
  font-style:italic;
  font-weight:bold;
  font-size:60px;
}

.error_message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #cc0000;
    width: 25%;
    text-align: center;
}

#login_form {
    background-color: rgba(255, 255, 255, 0.8);
    width: 20%;
    margin: 50px auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


#login_form label {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    display: block;
}


#login_form input[type="text"],
#login_form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin:10px auto;
    border: 1px solid #cccccc;
    border-radius: 3px;
}


#login_form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#login_form input[type="submit"]:hover {
    background-color: #45a049;
}


#login_form a {
    display:block;
    padding:10px;
    color: #121313;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-top:20px;
    text-decoration: underline;
}

.password-container {
    position: relative; /* Relative positioning */
    display: flex;
    align-items: center;
}

/* Eye icon style */
.password-toggle {
    cursor: pointer;
    position: absolute;
    right: 10px;
}




