.profile-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: none;
}

.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    text-align: left;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 5px;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modify-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #067e0b;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.modify-link:hover {
    background-color: #90c40e;
    text-decoration: none;
    color: white;
}

.modify-link-container {
    text-align: center;
    margin-top: 20px;
}

